<div class="jumbotron">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <button class="btn btn-lg btn-dark btn-block" type="submit">Check balance</button>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Deposit money</button>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Withdraw money</button>
        <button class="btn btn-lg btn-dark btn-block" type="submit">View transaction history</button>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>