<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Banking Ledger</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" routerLinkActive="active">
      <li *ngIf="!authService.isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="login">Login<span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="!authService.isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
      <li *ngIf="authService.isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="logout" (click)="logout()">Logout<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<!-- <nav class="my-2 my-md-0 mr-md-3">
  <a class="p-2 text-dark" href="#">Features</a>
  <a class="p-2 text-dark" href="#">Enterprise</a>
  <a class="p-2 text-dark" href="#">Support</a>
  <a class="p-2 text-dark" href="#">Pricing</a>
</nav> -->
<router-outlet></router-outlet>
