<div class="jumbotron">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
            <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
              <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
                <input type="text" class="form-control" id="firstName"
                        placeholder="First Name"
                        required
                       [(ngModel)]="firstName" name="firstName">
                <input type="text" class="form-control" id="lastName"
                        placeholder="Last Name"
                        required
                       [(ngModel)]="lastName" name="lastName">
                <input class="form-control" id="userName"
                        required
                        placeholder="Username"
                        [(ngModel)]="userName" name="userName">
                <input type="password" class="form-control" id="password"
                        required
                        placeholder="Password"
                        [(ngModel)]="password" name="password">
              <br>
              <br>
              <button type="submit" class="btn btn-lg btn-dark btn-block" [disabled]="!registerForm.form.valid" (click)="register()">Submit</button>
            </form>
          </div>
      <div class="col-sm">
      </div>
    </div>

    <div class="row">
        <div class="col-sm">
          </div>
        <div class="col-sm" *ngIf="error">
            <div class="alert alert-danger" role="alert">
                User already exists!
              </div>
          </div>
          <div class="col-sm">
            </div>
    </div>
    
